.sass-cache
_site/
.idea/
_posts/2019-06/
_posts/2019-07/
_posts/2019-08/
_posts/2019-09/
_posts/2019-10/
_posts/2019-11/
_posts/2019-12/
_posts/2020-02/
_posts/2020-05/
_posts/2020-06/
_posts/2020-07/
_posts/2020-08/
_posts/2020-09/
_posts/2020-10/
_posts/2020-11/
_posts/2020-12/
_posts/2021-01/
_posts/2021-03/
_posts/2021-04/
_posts/2021-05/
_posts/2021-06/
_posts/2021-07/
_posts/2021-08/
_posts/2021-09/
_posts/2021-10/
_posts/2021-11/
_posts/2021-12/
_posts/2022-01/
_posts/2022-02/
_posts/2022-03/
_posts/2022-04/
_posts/2022-05/
_posts/2022-06/
_posts/2022-07/
_posts/2022-08/
_posts/2022-09/2022-09-01-priority-queue.md
_posts/2022-09/2022-09-02-dynamic-programming.md
_posts/2022-09/2022-09-06-functional-programming.md
_posts/2022-09/2022-09-09-solid.md
_posts/2022-09/2022-09-12-python-scopes-and-namespaces.md
_posts/2022-09/2022-09-13-python-iterators.md
_posts/2022-09/2022-09-15-type-assertions.md
_posts/2022-09/2022-09-16-get-es6.md
assets/800px-Decorator_UML_class_diagram.svg.png
assets/Node.js-Architecture.png
assets/Steam-AC-Odyssey-Review.png
assets/UML2_Decorator_Pattern.png
assets/W3sDesign_Decorator_Design_Pattern_UML.jpg
assets/addtwonumber1.jpg
assets/dynamic-programming/
assets/nodejs-event-loop.png
assets/reactor-pattern.png
assets/sliding-window/
tag/Algorithm.md
tag/ArchLinux.md
tag/Array.md
tag/Backtracking.md
tag/BinarySearch.md
tag/BinaryTree.md
tag/Bit.md
tag/C++.md
tag/Calculus.md
tag/DesignPattern.md
tag/Docker.md
tag/DynamicProgramming.md
tag/FileSystem.md
tag/Frontend.md
tag/FunctionalProgramming.md
tag/Gentoo.md
tag/Golang.md
tag/Graph.md
tag/GraphQL.md
tag/Greedy.md
tag/Hardware.md
tag/Hash.md
tag/Kafka.md
tag/LinkedList.md
tag/Linux.md
tag/Lodash.md
tag/MacOS.md
tag/Map.md
tag/MathHistory.md
tag/MySQL.md
tag/Network.md
tag/Node.js.md
tag/OpenGL.md
tag/PriorityQueue.md
tag/RealAnalysis.md
tag/Recursion.md
tag/Redis.md
tag/Ruby.md
tag/Sentry.md
tag/Set.md
tag/Sorting.md
tag/Stack.md
tag/String.md
tag/SystemDesign.md
tag/Testing.md
tag/Trie.md
tag/TwoPointers.md
tag/Ubuntu.md
tag/Vim.md
tag/Web.md
.vscode